# tommyq.cz/sport/ - Token-based access control with HTTP Basic auth for admin actions
# admin token = full access (refresh, delete, rename)
# public token = view only (shareable links)
# Admin actions from outside LAN require admin token OR HTTP Basic auth
$HTTP["host"] == "tommyq.cz" {
    $HTTP["url"] =~ "^/sport" {
        $HTTP["querystring"] !~ "token=(__ADMIN_TOKEN__|__PUBLIC_TOKEN__)" {
            url.redirect = ( "" => "https://tommyq.cz/" )
        }
    }
    $HTTP["url"] =~ "^/sport/cgi/(refresh|delete|rename)" {
        $HTTP["querystring"] !~ "token=__ADMIN_TOKEN__" {
            $HTTP["remoteip"] != "192.168.2.0/24" {
                auth.backend = "pam"
                auth.require = ( "" => (
                    "method" => "basic",
                    "realm" => "Sport Admin",
                    "require" => "valid-user"
                ) )
            }
        }
    }
    $HTTP["url"] =~ "^/sport/cgi/" {
        cgi.assign = ( ".cgi" => "" )
    }
}
