# DNS configuration for dnsmasq
# Add these entries to Turris dnsmasq configuration

# Base domain
address=/tommyq.cz/192.168.2.1

# Services
address=/portainer.tommyq.cz/192.168.2.1
address=/radarr.tommyq.cz/192.168.2.1
address=/sonarr.tommyq.cz/192.168.2.1
address=/overseerr.tommyq.cz/192.168.2.1
address=/prowlarr.tommyq.cz/192.168.2.1
address=/filezilla.tommyq.cz/192.168.2.1
address=/jdownloader.tommyq.cz/192.168.2.1
address=/qbittorrent.tommyq.cz/192.168.2.1
address=/plex.tommyq.cz/192.168.2.1
address=/dsm.tommyq.cz/192.168.2.1
